################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.user
/.vs
/packages
/build
/clean build
/ApiLibrary/bin
/ApiLibrary/obj
/Downwork Notifier/bin
/Downwork Notifier/obj
/Utilities/bin
/Utilities/obj
/ApiHttpClientLibrary
